<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your profile</h1>

      <div class="profile-avatar">
        <%= cl_image_tag @user.avatar.nil? ? @user.avatar.key : 'ZiNe7VWmqwQDXheoS15QJ4oe', height: 300, width: 400, crop: :fill %>
      </div>

      <div class="info">
        <h2>Account:</h2>
        <p>Username: <%= @user.username %></p>
        <p>First Name:</p>
        <p>Last Name:</p>
        <p>E-Mail:</p>
        <p>Password:</p>
        <%= link_to "update password", edit_user_password_path, class: "profile-ui-btn" %>
      </div>

    </div>
  </div>
</div>
