<div class="container">
  <div class="col-12 col-md-6 offset-md-3">
      <h1>Notifications</h1>
      <div class="notif-card">
        <% current_user.notifications.each do |notif| %>
        <ul>
          <div class="flash flash-success dismissable fade show" role="alert">
            <li><%= notif.message %></li>
            <a data-dismiss="alert" aria-label="Close">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </ul>
        <% end %>
      </div>
  </div>
</div>

