// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333;
$light-gray: #F4F4F4;

// Ideas, pls change if you find a better match
$green-gradient: linear-gradient(to right top, #1f6c3f, #219046, #2eb447, #47d941, #69ff30);
$body-color: #FEFFFC;
$main-green: #95B553;
