.challenge_image {
  width: 100%;
  padding-bottom: 15px;
}

.container {
  p{
    padding-bottom: 10px;
  }
}
.challenge-btn{
    color: black;
    text-shadow: 1px 1px 10px rgba(0,0,0,.2);
    margin-bottom: 10px;
    &:hover{
      color: #333;
      text-decoration: none;
      text-shadow: 1px 1px 10px rgba(0,0,0,.3);
    }
  }
.spacer {
  height: 30px;
}
