.challange-title {
  h1{
    padding: 0px;
  }
}
.challenge_image {
  width: 100%;
  padding-bottom: 15px;
}

.container {
  p{
    padding-bottom: 10px;

  }
}
.daily-challange{
  h3{
    border-bottom: solid #3332;
    padding-bottom: 10px;
  }
}
.submit-btn input{
    border-radius: 25px;
    background-color: $maybe;
    width: 200px;
    text-align: center;
    color: white ;
    border: none;
    margin: 25px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    margin-bottom: 20px;
    &:hover{
      box-shadow: 1px 1px 10px rgba(0,0,0,.5);
      color: white;
      text-decoration: none;
    }
}

  .challenge-btn{
    color: black;
    text-shadow: 1px 1px 10px rgba(0,0,0,.2);
    margin-bottom: 10px;
    &:hover{
      color: #333;
      text-decoration: none;
      text-shadow: 1px 1px 10px rgba(0,0,0,.3);
    }
  }
  .spacer {
    height: 30px;
  }
  .form-group{
    padding-top: 5px;
  }

