.daily-progresses-ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 20px;
  padding: 30px;
}


.daily-progresses-ui-card img {
  width: 300px;
  margin: 20px;
}



@media (min-width: 300px) {
  .daily-progresses-ui-card img {
  width: 200px;
  }
}

@media (min-width: 600px) {
   .daily-progresses-ui-card img {
    width: 300px;

}
}
