.container h2{
  margin-bottom: 15px;
}

.ui-flash {
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  background-color: $maybe;
  transition: height 200ms ease-out;
}

.appear {
  height: 0;
  overflow: hidden;
}