.container h2 {
  margin-bottom: 15px;
}

$flash-height: 50px;

.ui-flash-container {
  position: relative;
}

.ui-flash-spacing {
  height: $flash-height;
}

.ui-flash {
  z-index: -1;
  height: $flash-height;
  position: absolute;
  top: -50px;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  background-color: $maybe;
  transition: top 1000ms ease-out;
}

.ui-flash-details {
  height: $flash-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appear {
  top: 0;
}