.container h2 {
  margin-bottom: 15px;
}

$flash-height: 50px;

.ui-flash-container {
  position: relative;
}

.ui-flash-spacing {
  height: $flash-height;
}

.ui-flash {
  z-index: -1;
  height: $flash-height;
  position: absolute;
  top: -50px;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  background-color: $maybe;
  transition: top 1000ms ease-out;
}

.ui-flash-details {
  font-size: 0.8em;
  height: $flash-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @media (min-width: 445px) {
    font-size: 1em;
  }
}

.appear {
  top: 0;
}

.d-grid {
  grid-template-columns: 1fr;
  display: grid;
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
}
