.rating-form {
  margin: 25px 0;
}


.rating-container {
  color: none;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  .selected {
   color: green;
  }
}

.rating-container i {
}

.leaf {
  cursor: pointer;
  padding: 0 2px;
  // display: inline-block;
}

.green {
  color: green;
}
// .rating-container:hover i {
//   color: green;
// }


// .rating-container i:hover ~ i {
//   color: black;
// }
