// remove the loading msg
document.querySelector('#loading-msg').classList.add('none');
// input a new formfor input inside of the form
document.querySelector('.car_model').classList.remove('none');
// remove all options from select
let select = document.querySelector('#car_model');

select.querySelectorAll('option').forEach(option => {
  option.remove();
});
// add option to select
// first add another empty one (because we are listening on onChange)
select.insertAdjacentHTML('afterbegin', '<option></option>');

<% @models.each do |model| %>
  select.insertAdjacentHTML('beforeend', '<option><%= model %></option>')
<% end %>

// also add an event listener to expose the submit button
select.addEventListener('change', function() {
  // expose the submit button
  document.querySelector('#submit-create-car-btn').classList.remove('none');
});
