<%# question 1: do you have a car? %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 justify-content-center align-items-center">
      <div class="ui-card ui-card-rounded text-center p-3">
        <h1>Do you have a car?</h1>

        <div class="buttons">
          <button id="yes" class="ui-btn px-4">Yes</button>

          <%# TODO %>
          <%= link_to "No", root_path, class: 'ui-btn px-4' %>
        </div>

      </div>
    </div>
  </div>
</div>

<%# question 2: what is the model of the car? %>
