<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 justify-content-center">
      <h1>Do you have a car?</h1>

      <div class="buttons">
        <button class="ui-btn px-4">Yes</button>

        <button class="ui-btn px-4">No</button>
      </div>
    </div>
  </div>
</main>