  <div class="row">
    <div class="col-12 col-md-6">
      <div class="badges-ui-card d-flex flex-row text-center">
        <% @badges.each do |badge| %>
          <div class="flex-column">
             <p><%= badge.name %></p>
            <%= image_tag(asset_path("badges-icons/svg/#{badge.icon_url}")) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
