<div class="badges-ui-card">
  <% @badges.each do |badge| %>
    <div class="flex-column">
       <p><%= badge.name %></p>
      <%= image_tag(asset_path("badges-icons/svg/#{badge.icon_url}")) %>
    </div>
  <% end %>
</div>