<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Categories:</h2>
      <div class="category-ui-cards">
        <div class="ui-card-grid">
          <% categories.each do |category| %>
          <div class="category-ui-card">
            <%= image_tag(asset_path("category_pictures/#{category.name.downcase}.svg"))%>
            <div class="link"><h5><%= link_to category.name, category_path(category) %></h5>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
