<div class="ui-flash-container daily-challenge">
  <div class="ui-flash-spacing"></div>

  <section class="ui-flash alert-warning add-appear" data-delay="500">
    <div class="ui-flash-details">
      <span>Today's challenge: <%= current_user.todays_challenge.title %></span>
      <i class="fas fa-trophy"></i>
    </div>
  </section>
</div>