<div class="ui-flash-container">
  <div class="ui-flash-spacing"></div>

  <section class="ui-flash alert-warning add-appear">
    <div class="ui-flash-details">
      <span>Keep up your daily streak! (<%= current_user.streak_count %>)</span>
      <i class="fas fa-bolt"></i>
    </div>
  </section>
</div>