<div class="ui-navbar">
  <div class="ui-navbar-brand">
    <%= link_to root_path do %>
      <i class="fas fa-cannabis"></i>
    <% end %>
  </div>

  <div class="hamburger-icon">
    <button>
      <i class="fas fa-bars"></i>
    </button>
  </div>
</div>