<nav class="ui-nav-menu" id="nav-menu">

  <div class="ui-nav-menu-top">
    <button id="close-menu-btn" class="ui-icon-btn">
      <i class="fas fa-times"></i>
    </button>
  </div>


  <ul class="ui-nav-list">
    <li>item 1</li>
  </ul>
</nav>

