<header class="ui-navbar">
  <div class="ui-navbar-brand">
    <%= link_to root_path do %>
     <h2 id="nav-h2">Greener</h2>
    <% end %>
  </div>

  <div>
    <button class="ui-icon-btn" id="open-menu-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>

<!-- navbar -->

<%#= render 'shared/nav_menu' %>
