<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Contact</h1>
      <p><strong>Greener</strong></p>
      <h5>E-mail:</h5>
      <p>greener@example.com</p>
      <h5>Phone:</h5>
      <p>+31 *** *** ****</p>
      <h5>Address:</h5>
      <p>Overhoeksplein 2, 1031 KS Amsterdam</p>

      <h5>Icon references:</h5>
      <ul>
        <li><strong>Title:</strong> Smashicons</li>
        <li>Icon made by: <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">https://www.flaticon.com/authors/smashicons</a> </li>
        <li>From:https: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> </li>

        <li><strong>Title:</strong> Freepik</li>
        <li>Icon made by: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">www.flaticon.com/authors/freepik</a> </li>
        <li>From:https: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> </li>

        <li><strong>Title:</strong> Vectors Market</li>
        <li>Icon made by: <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">https://www.flaticon.com/authors/vectors-market</a> </li>
        <li>From:https: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> </li>

        <li><strong>Title:</strong> Good Ware</li>
        <li>Icon made by: <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">https://www.flaticon.com/authors/good-ware</a></li>
        <li>From:https: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> </li>
      </ul>
    </div>
  </div>
</div>
