<% if !current_user.streak_count.zero? %>

  <section class="ui-flash alert-warning appear">
    <div class="container">
      <span>Keep up your daily streak! (<%= current_user.streak_count %>)</span>
      <i class="fas fa-bolt"></i>
    </div>
  </section>

<% end %>

<%= render 'shared/categories', categories: @categories %>
