<% if !current_user.streak_count.zero? %>
  <%= render 'shared/daily_streak_flash' %>
<% end %>

<div class="container">
  <%= render 'shared/progress_graph' %>
</div>


<div class="container">
      <%= render 'shared/categories', categories: @categories %>
      <%= render 'shared/badges', badges: @badges %>
</div>
