<div class="banner">
  <h1>How green are you?</h1>
  <button class="home-ui-btn">Become greener</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Who is green:</h1>
      <div class="ui-card-grid">
        <div class="home-ui-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cupiditate sequi ut dolore aspernatur tenetur exercitationem? Eius voluptates sit eligendi quidem, aperiam ut, praesentium eum ipsam numquam exercitationem veniam vitae!</p>
        </div>

        <div class="home-ui-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cupiditate sequi ut dolore aspernatur tenetur exercitationem? Eius voluptates sit eligendi quidem, aperiam ut, praesentium eum ipsam numquam exercitationem veniam vitae!</p>
        </div>

        <div class="home-ui-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cupiditate sequi ut dolore aspernatur tenetur exercitationem? Eius voluptates sit eligendi quidem, aperiam ut, praesentium eum ipsam numquam exercitationem veniam vitae!</p>
        </div>
      </div>
      <div class="team-info">
        <h2>Our team:</h2>
        <div class="team-avatar">
          <p><%=image_tag("Tice") %></p>
          <p><%=image_tag("Philippa")%></p>
          <p><%=image_tag("Svenia")%></p>
        </div>
      </div>

    </div>
  </div>
</div>
