<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Find a user</h1>
      <% @users.each do |user| %>
      <div class="user-card">
         <%= cl_image_tag current_user.avatar.attached? ? current_user.avatar.key : 'https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', height: 300, width: 400, crop: :fill, class: "avatar-large" %>
        <div class="user-infos">
          <p id="name"><strong><%= user.username %></strong></p>
        </div>
        <div class="add-user-btn">
          <%= link_to "Add Friend ", friendships_path(:user_id => user), :method => :post %>
          <i class="fas fa-user-plus"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
