<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="daily-progresses-ui-card text-center">
        <h1>What a shame!</h1>
        <%= image_tag(asset_path('card_illustrations/undraw_work_in_progress_uhmv .svg')) %>
        <p>You failed the daily challenge...but no worries, tomorrow is another day!</p>
        <%= link_to "Next", dashboard_path, class: "ui-btn" %>
      </div>
    </div>
  </div>
</div>
