<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="challange-title">
        <h1><%= @challenge.title %></h1>
      </div>
      <%= image_tag(@challenge.image_url, class: 'challenge_image')  %>
      <% @challenge.description.split('\n').each do |sentence| %>
        <p><%= sentence %></p>
      <% end %>

      <% unless current_user.challenge_completed?(@challenge) %>
        <h3>Challenge status:</h3>


      <% else %>
        <p class="alert-warning p-3">
          You've already completed this challenge!
        </p>
      <% end %>
      <div class="daily-challenge">

        <div class='spacer'></div>

        <%= link_to "Go back to category #{@challenge.category.name.downcase}", category_path(@challenge.category), class: 'challenge-btn' %>

        <div class='spacer'></div>
      </div>
    </div>
  </div>
