.badges-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

// STYLES ONLY FOR THE DASHBOARD

.dashboard-badges {
  .ui-badge {
    img {
      padding: 27px;
      @media (min-width: 768px) {
        padding: 17px;
      }
      @media (min-width: 992px) {
        padding: 24px;
      }
    }
    i {
      @media (min-width: 768px) {
        font-size: 12px;
      }
      @media (min-width: 992px) {
        font-size: 15px;
      }
    }
  }
}

// STYLES ONLY FOR TOTAL BADGE LIST
.total-badges-list {
  .badges-container {
    .gray-filter {
      filter: grayscale(100%) brightness(1.3);
    }
  }
}

.ui-badge {
  position: relative;
  .svg-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  img {
    position: relative;
    width: 100%;
    padding: 17px;
    @media (min-width: 700px) {
      padding: 27px;
    }
    @media (min-width: 991px) {
      padding: 35px;
    }
    z-index: 100;
    &.scaled-img {
      transform: translateY(5px) scale(1.1);
    }
  }
  i {
    font-size: 12px;
    position: relative;
    z-index: 100;
    color: #ffa600;
    bottom: 20px;
    @media (min-width: 700px) {
      font-size: 18px;
    }
    &#middle-star {
      bottom: 16px;
    }
  }
}


.badges-ui-card {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  width: fit-content;
  // margin: 15px;
  // padding: 10px;
}

.badges-ui-card img {
  height: 100px;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

.badges-ui-card p {
  margin: 10px;
  font-weight: bold;
  margin: 10px;
  width: 100px;
}

.badge-flex-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 5px;
  margin-top: 20px;
}

.badge-ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 5px;

}

@media (max-width: 700px) {
  .badges-ui-card img {
    height: 50px;
  }
}
