.badge-info-window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100vw;
  background-color: rgba(0,0,0,.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-info-window {
  width: 400px;
  height: 200px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  .badge-info-window-top {
    i {
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}