.banner {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1526749837599-b4eba9fd855e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
  height: 500px;
  width: 100%;
  background-size: cover;
  position: center;
  margin-bottom: 20px;
  h1{
    padding-top: 140px;
    color: #FFC65A;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
