.banner{
  margin-bottom: 20px;
  text-align: center;
  position: relative;

  .background-image {
    background-image: url("windmills.svg");
    height: 500px;
    margin-top: 30px;
    max-width: 790px;
    margin: 0 auto;
    background-size: cover;
    @media (min-width: 1200px) {
      height: 544px;
      max-width: 853px;
    }
  }
  h1{
    position: absolute;
    font-size: 40px;
    text-align: center;
    // left: calc(50% - 200px);
    right: 50px;
    top: 294px;
    // @media (min-width: 600px) {
    //   width: auto;
    //   text-align: center;
    //   left: 40px;
    //   font-size: 50px;
    // }
    color: $navbar-green;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 3.3rem;
  }
}

