.banner {
  background-image: url("https://images.unsplash.com/photo-1526749837599-b4eba9fd855e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
  height: 500px;
  width: 100%;
  background-size: cover;
  position: center;
  margin-bottom: 20px;
  h1{
    padding-top: 140px;
    padding-left: 20px;
    color: #333;
  }
}
