.ui-btn {
  border-radius: 25px;
  background-color: $maybe;
  color: white;
  border: none;
  margin: 25px;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  &:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    color: white;
    text-decoration: none;
  }
}

// a class to make a button not look like a button and just show what is inside (icon)
.ui-icon-btn {
  color: $white;
  border: none;
  background-color: transparent;
  font-size: 30px;
}

.home-ui-btn{
  border-radius: 25px;
  background-color: #216353;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  width: 200px;
  margin-top: 55px;
  &:hover{
  box-shadow: 1px 1px 10px rgba(0,0,0,.6);
  color: white;
  text-decoration: none;
  }
}

.no-btn {
  padding: 0;
}
.profile-ui-btn {
  border-radius: 25px;
  background-color: #216353;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);

  &:hover{
      box-shadow: 1px 1px 10px rgba(0,0,0,.5);
      color: black;
      text-decoration: none;
  }

}
