.ui-btn {
  border-radius: 25px;
  background-color: #345B2A;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);

  &:hover{
      box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  }

}

// a class to make a button not look like a button and just show what is inside (icon)
.ui-icon-btn {
  color: $gray;
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.home-ui-btn{
  border-radius: 25px;
  background-color: #345B2A;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  width: 200px;
  margin-left: 20px;


  &:hover{
      box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  }
}
