.ui-btn {
  border-radius: 25px;
  background-color: #345B2A;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);

  &:hover{
      box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  }

}

