.ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 5px;
  padding: 10px;
}

.home-ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 10px;
  margin-bottom: 20px;


  img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 5px;
  }

  p {
    padding: 10px;
  }
}

.team-ui-cards{
  display: flex;
  justify-content: space-between;
}

  .team-ui-card{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 30px;

    img {
      height: 250px;
      object-fit: cover;
      position: center;
      width: 200px;
    }

    p{
      padding-left: 10px;
      padding-top: 5px;
    }

  }

.ui-card-grid {
  display: grid;
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
}

.ui-card-rounded {
  border-radius: 10px;
}

