.ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 5px;
  padding: 10px;
}
.home-ui-card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 10px;
  margin-bottom: 20px;


  img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 5px;
  }

  p{
    padding: 10px;
  }
}
.ui-card-grid {
  display: grid;
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
}

