.ui-card-grid {
  display: grid;
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
}
.category-ui-card{
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  margin: 15px;
  display:flex;

  img {
  height: 150px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 5px;
  }

}

.link {
    margin-top: 60px;
    margin-left: 60px;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    a{
      text-decoration: none;
    }
  }

@media (min-width: 900px) {

  .category-ui-card {
    margin: 5px;
  }

}
