.ui-navbar {
  height: $nav-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  // position absolutely
  position: absolute;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.ui-navbar-brand {
  font-size: 50px;
  i {
    color: green;
  }
}

.ui-hamburger-btn {
  color: $gray;
  border: none;
  background-color: transparent;
  font-size: 30px;
}

.ui-navbar-spacing {
  height: $nav-height;
  margin-bottom: 15px;
}
