<footer>
  <div class="home-info">
    <h2>Greener</h2>
    <p><%= link_to "Contact", contact_path  %></p>
  </div>
  <div class="social-media">
    <ul>
      <a href="https://www.instagram.com"><li><i class="fab fa-instagram"></i> Instagram</li></a>
      <a href="https://www.twitter.com"><li><i class="fab fa-twitter-square"></i> Twitter</li></a>
      <a href="https://www.facebook.com"><li><i class="fab fa-facebook-square"></i> Facebook</li></a>
    </ul>
  </div>
</footer>

